*{ 
  margin:0;padding:0;
  outline: 0;
  vertical-align: baseline; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,body{ 
  color:#000; 
  background:#fff; 
  font-family: "Microsoft YaHei";
  font-size: 15px;
  /* font:12px/22px MicrosoftYaHei,Arial,sans-serif,"Times New Roman";  */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
input,select,button{ 
   font-size:100%;
   outline:0;
   vertical-align:middle;
   -webkit-appearance: none;
}
button{
  border: 0;
  background-clip: padding-box;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
ol,ul,li { list-style:none;}

/* 定义图片边框，当图片作为链接内容被填充时，会有默认边框出现，重定义掉 */
img{ 
   border:none;
   vertical-align:baseline;
}
a, a:link, a:visited{
   color:#000;
   text-decoration:none;
}
a:hover{ 
  color:#000; 
  text-decoration:underline;
}
/* 标签属性，textarea,input 强制输入时内容超出时换行，打断 */
textarea,input{ 
  word-wrap:break-word; 
  word-break:break-all; 
} 
span,p,div{ 
  word-wrap:break-word;
} 

/* 列 - 居中对齐 - 子项居中对齐 */
.column_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 行 - 居中对齐 - 子项居中对齐 */
.row_center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* 外层布局 */
.layout{
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* 和模型宽度 */
.box_width{
  width: 1200px;
  box-sizing: border-box;
}
/* 列 - 两端对齐 - 子项居中对齐 */
.column_between_center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* 列 - 分散对齐 - 子项居中对齐 */
.column_around_center{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
/* 行 - 两端对齐 - 子项居中对齐 */
.row_between_center{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
/* 行 - 两端对齐 - 子项居中对齐 - 换行 */
.row_between_center_wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}
/* 行 - 分散对齐 - 子项居中对齐 */
.row_around_center{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
/* 行 - 起点对齐 - 子项起点对齐 */
.row_start_start{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: flex-start;
}
/* 列 - 起点对齐 - 子项起点对齐 */
.column_start_start{
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: flex-start;
}
/*文字超出部分使用省略号显示*/
.uts {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    outline: 0 !important
}